{
      "endpoint": "/gamespace",
      "method": "POST",
      "input_headers": ["*"],
      "backend": [
        {
          "method": "POST",
          "url_pattern": "/__debug/gamespace/auth/",
          "host": ["{{ .host }}:{{ .port }}"],
          "extra_config": {
            "backend/http": {
            "return_error_details": "from_gamespace"
            }
          }
        }
      ]
    },
    {
      "endpoint": "/energy-status",
      "method": "GET",
      "input_headers": ["*"],
      "backend": [
        {
          "method": "GET",
          "url_pattern": "/gamespace/users/energy-status/",
          "host": ["{{ .host }}:{{ .port }}"],
          "extra_config": {
            "backend/http": {
              "return_error_details": "from_gamespace"
            }
          }
        }
      ]
    }