{
  "$schema": "https://www.krakend.io/schema/krakend.json",
  "version": {{add 2 1}},
  "name": "My API Gateway",
  "port": {{ .service.port }},
  "cache_ttl": "0s",
  "debug_endpoint": true,
  "extra_config": {
    {{ template "logging.tmpl" .service.logging_level }},
    {{ template "cors.tmpl" }}
  },
  "endpoints": [
    {
      "endpoint": "/debug",
      "method": "GET",
      "input_headers": ["*"],
      "backend": [
        {
          "url_pattern": "/__debug/",
          "host": ["{{ .service.debug_host }}:{{ .service.port }}"]
        }
      ]
    },
    {{ template "keycloak.tmpl" .service.keycloak }},
    {{ template "backend_server.tmpl" .service }},
    {{ template "gamespace.tmpl" .service.gamespace }}
  ],
  "output_encoding": "json"
}